.EintreageArea {
    margin-bottom: 25px;
}

.EintreageContainer {
    background: var(--box-bg-alt);
}

.EintreagePaginationContainer {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.EintreageHeaderDiv > p {
    /* background: var(--box-bg-main); */
    background: var(--box-bg-gradient);
    font-family: "Nunito";
    font-size: 1.3rem;
    line-height: normal;
    padding: 5px 15px;
}

.EintreageList {
    padding: 5px 10px;
}

.EintreageEntryDiv {
    background: var(--box-bg-main);
    padding: 15px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
}

.EintreagePaginationBar {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}


.ForeneintragHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px var(--box-highlight) solid;
    font-size: 1.5rem;
    color: var(--text-alt-color);
}

.ForeneintragInhalt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    font-size: 0.8rem;
    color: var(--text-alt-color);
}

.ForeneintragInfo{
    margin-left: 10px;
    padding-left: 10px;  
}

.ErstellerDiv{
    display: flex;
    align-items: center;
}

