.EintreageArea {
    margin-bottom: 25px;
}

.EintreageContainer {
    background: var(--box-bg-alt);
}

.EintreagePaginationContainer {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.EintreageHeaderDiv {
    background: var(--box-bg-gradient);
    padding: 10px 15px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: "Nunito";
    font-size: 1.3rem;
    text-shadow: 0px 1px 4px #555;
}

.HeaderForeneintrag {
    margin-right: auto;
}

.HeaderCount {
    margin: 0 80px;
}

.HeaderLetzterBeitrag {
    margin: 0 160px;
}

.EintreageList {
    padding: 5px 10px;
}

.EintreagePaginationBar {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.ForeneintragInfo {
    margin-left: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.ForeneintragDiv {
    background: var(--box-bg-main);
    padding: 15px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.ForeneintragLink {
    margin: 0 auto 0 20px;
}
.ForeneintragLink h3 {
    color: var(--text-main-color);
}

.BeitraegeCount {
    margin: 0 50px;
}
.BlockieProfil {
    margin-right: 15px;
}

.LetzterBeitragDiv {
    display: flex;
    margin: 0 50px;
}

.LetzterBeitragInfo {
}

.ErstellerName {
    color: var(--text-main-color);
}

.ButtonStyle {
    margin: 5px;
}
