.ForenArea {
    margin-bottom: 50px;
}

.SubforenContainer {
    background: var(--box-bg-alt);
}

.PaginationContainer {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.HeaderDiv {
    background: var(--box-bg-gradient);
    padding: 10px 15px;

    color: var(--text-main-color);
    font-family: "Nunito";
    font-size: 1.3rem;
    text-shadow: 0px 1px 4px #555;
}

.SubforenList {
    padding: 5px 10px;
}

.ForumEntryDiv {
    background: var(--box-bg-main);
    padding: 15px;
    margin: 5px 0;
}
.ForumEntryDiv h3 {
    margin: 0 auto 0 20px;
    color: var(--text-main-color);
}

.PaginationBar {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}
