.ForenArea {
    margin-bottom: 25px;
}

.SubforenContainer {
    background: var(--box-bg-alt);
}

.PaginationContainer {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.HeaderDiv > p {
    /* background: var(--box-bg-main); */
    background: var(--box-bg-gradient);
    font-family: "Nunito";
    font-size: 1.3rem;
    line-height: normal;
    padding: 5px 15px;
}

.SubforenList {
    padding: 5px 10px;
}

.ForumEntryDiv {
    background: var(--box-bg-main);
    padding: 15px;
    margin: 5px 0;
}
