.BeitragDiv {
    display: flex;
    background-color: var(--main-box-bg-color);
}
.BeitragContentArea {
    padding: 5px;
    flex: auto;
}

.BeitragHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px lightgray solid;
}

.ErstellerDiv {
    height: 100%;
    background-color: var(--alt2-box-bg-color);
}

.BeitragInhalt > * {
    all: revert;
}
