.BeitraegeContainer {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background: var(--box-bg-alt);
}

.BeitragHeader {
    margin: 25px 0;
}

.PaginationBar {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}
