.BeitragDiv {
    display: flex;
    background: var(--box-bg-main);
    margin: 5px 0;
}
.BeitragContentArea {
    padding: 15px;
    flex: auto;
}

.BeitragHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px lightgray solid;
}

.ErstellerDiv {
    height: 100%;
    background: var(--box-bg-alt2);
}

.BeitragInhalt > * {
    all: revert;
}
