.CUContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.defaultCUButtons {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 5px;
}

.CUElement {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ButtonStyle {
    margin: 5px;
}
