.CUContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.CUContainer > h1 {
    margin-bottom: 20px;
}

.defaultCUButtons {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 5px;
}

.CUElement {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ButtonStyle {
    margin: 30px 0 0;
}

.row {
    text-align: end;
    color: var(--text-alt-color);
}
.rowElementData {
    text-align: start;
    color: var(--text-main-color);
}
